<!DOCTYPE html>
<html lang="fr">
  <%# Head tag + content %> 
  <%- include("../organisms/head.partial.ejs", {pageTitle: "Accueil"}) %>

  <body>
    <%- include("../organisms/navbar.partial.ejs") %>

    <main>
      <%- include("../organisms/hero.partial.ejs") %>
      <section class="presentation">
        <!-- Cette page fera office de vitrine pour présenter les différentes ecoles et formations de manière sommaire-->
            <!-- témoignage section a modifier plus tard -->
          <section class="Temoignages">
            <div class="en-tete">
                <h1>Témoignages</h1>
                <span></span>
                <button> voir Tout</button>
            </div>
            <div class="card-temoignage">
                <div class="temoignage-info">
                    <img src="../images/Vidéo.png" alt="">
                    <div class="txt">
                        <h2>Le métier de community manageur</h2>
                        <p>j'ai fais comme j'ai pue !</p>
                    </div>
                </div>

                <div class="temoignage-info">
                    <img src="../images/Vidéo (1).png" alt="">
                    <div class="txt">
                        <h2>Un jour dans la vie d’un(e) lycéen(ne)</h2>
                        <p>j'ai fais comme j'ai pue !</p>
                    </div>
                </div>

                <div class="temoignage-info">
                    <img src="../images/Vidéo (2).png" alt="">
                    <div class="txt">
                        <h2>Briser la barrière de la langue</h2>
                        <p>j'ai fais comme j'ai pue !</p>
                    </div>
                </div>

                <div class="temoignage-info">
                    <img src="../images/Vidéo (3).png" alt="">
                    <div class="txt">
                        <h2>Un jour dans la vie d’un(e) étudiant(e)</h2>
                        <p>Sophie, future entrepreneuse, nous parle de ses
                            projets et ses acquis en alternance.</p>
                    </div>
                </div>
            </div>
        </section>

        <!------------------------------- initiation parth ------------------------------------>
          <!-- <section class="Initiation">
            <div class="en-tete">
                <h1>Cours Initiations</h1>
                <span></span>
                <button> voir Tout</button>
            </div>
            <div class="card-Initiation">
                <div class="Initiation-info">
                    <div class="txt-right">
                        <img src="../images/menu_book.png" alt="">
                        <h2>Initiation à la biophysiopathologie</h2>
                    </div>
                    <span></span>
                    <div class="txt-left">
                        <tag-component label="ST2S"></tag-component>
                        <tag-component label="bac"></tag-component>
                        <tag-component label="SANTE"></tag-component>
                        <tag-component label="SCIENCES"></tag-component>
                    </div>
                </div>

                <div class="Initiation-info">
                    <div class="txt-right">
                        <img src="../images/menu_book.png" alt="">
                        <h2>Initiation au langage HTML</h2>
                    </div>
                    <span></span>
                    <div class="txt-left">
                        <tag-component label="ETUDES SUPERIEURES"></tag-component>
                        <tag-component label="INFORMATIQUE"></tag-component>
                        <tag-component label="CODAGE"></tag-component>
                    </div>
                </div>

                <div class="Initiation-info">
                    <div class="txt-right">
                        <img src="../images/menu_book.png" alt="">
                        <h2>Initiation à l’anglais</h2>
                    </div>
                    <span></span>
                    <div class="txt-left">
                        <tag-component label="ETUDES SUPERIEURES"></tag-component>
                        <tag-component label="bac"></tag-component>
                        <tag-component label="LANGUES"></tag-component>
                    </div>
                </div>

                <div class="Initiation-info">
                    <div class="txt-right">
                        <img src="../images/menu_book.png" alt="">
                        <h2>Initiation à l’économie-gestion</h2>
                    </div>
                    <span></span>
                    <div class="txt-left">
                        <tag-component label="ETUDES SUPERIEURES"></tag-component>
                        <tag-component label="GESTION"></tag-component>
                        <tag-component label="ECONOMIE"></tag-component>
                    </div>
                </div>

                <div class="Initiation-info">
                    <div class="txt-right">
                        <img src="../images/menu_book.png" alt="">
                        <h2>Initiation à l’économie-gestion</h2>
                    </div>
                    <span></span>
                    <div class="txt-left">
                        <tag-component label="ETUDES SUPERIEURES"></tag-component>
                        <tag-component label="INFORMATIQUE"></tag-component>
                        <tag-component label="CODAGE"></tag-component>
                    </div>
                </div>
            </div> -->

            <% array.forEach(element => {
                <div class="Initiation-info">
                    <div class="txt-right">
                        <img src="url({element.image})" alt="">
                        <h2>element.name</h2>
                    </div>
                    <span></span>
                    <div class="txt-left">
                      while (element.tag =! 0) {
                        <%= element.tag.name %>
                      }
                      else{
                        null
                      }
                    </div>
                </div>
            }); %> 
        </section>
<!-------------------- end ------------------------------------------->
      </section>
    </main>

    <%- include("../organisms/footer.partial.ejs") %>
  </body>
</html>
